<div [ngClass]="{reminder: task.reminder}" class="task" (dblclick)="onToggle(task)">
  <h3>
    {{ task.text }}
    <h2 (click)="onDelete(task)" [ngStyle]=" {color:'red'}">X</h2>
  </h3>
  <p>{{ task.day }}</p>
</div>
